body {

   
    font-family:'Josefin Sans', sans-serif;
    margin: 0;    
    border-radius: 15px;
   background:url(img/seo-bild.PNG);

}


.wrapper {
    background: rgba(255, 255, 255, 0.925);


}

.wrapper2 {

        display: flex;
        justify-content: flex-end;
        color: white;


}


.naveins {

display: inline;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(42, 45, 49);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 51px;
    border: solid;
    border-color: rgb(111, 207, 15);
    border-width: 1px;
    
    
    
    
}


  


.dropdown:hover .dropdown-content {
    display:inline;
}

.dropdown-content {
    display:none;
}


h3 {

    color: rgb(42, 45, 49);
    font-family: 'Josefin Sans', sans-serif;


}

.img {

    height: 51px;

    width: 101px;
    border-radius: 15px;


}
p {

    color: rgb(0, 0, 0);
    max-width: 5000px;
    
}

.main {


   text-align: center;
}

dd {


    color: rgb(42, 45, 49);
    max-width: 500px;
    
}


dt {

    color: rgb(42, 45, 49);
    
}

.diveins {

    display: flex;
    justify-content: center;

}

.divzwei {

    display: flex;
    justify-content: center;


}
.divdrei {

    display: flex;
    justify-content: center;


}
.divvier {

    display: flex;
    justify-content: center;


}
.divfünf {

    display: flex;
    justify-content: center;


}


.madeby {

    color: white;
}

.divsechs {

    display: flex;
    justify-content: center;

}

.divsieben {

    display: flex;
    justify-content: center;


}

.divsieben dd {
    padding-bottom: 35px;
}


hr {

    border: solid 1px rgb(157, 162, 167);
    max-width: 1000px;
   
}

footer {

    position: inherit;
    right: 0px;
    left: 0px;
    background-color: rgb(42, 45, 49);
    height: 2.4cm;
    border: solid;
    border-color: rgb(111, 207, 15);
    border-width: 1px;
    bottom: 0;
    
    

    
}

#fb {

    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
}

#fb:hover {
    
    height: 55px;
    width: 55px;
}

#twitter:hover {

    height: 55px;
    width: 55px;
}

#mailpic {

    
    
    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
    

}


#mailpic:hover {

    height: 55px;
    width: 55px;
}

#twitter {


    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
    

}



/* Dropdown  */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline;
    left: 0px;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(42, 45, 49);
                                                        transition: .4s}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown  when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(111, 207, 15);
                                    transition: .5s;}
  
  

.navigation {

  display: inherit;
  margin-right: 68px;

}

.dropdown-content a:hover {


    color: white;
}

h1 {
    color: rgb(42, 45, 49);

    margin: 0px;
}

.titel {

        border: solid;
        border-width: 2px;
         color: rgb(42, 45, 49);
         border-radius: 15px;
         
}

.verlinkung {

    border: solid;
    border-width: 2px;
    color: rgb(42, 45, 49);
     border-radius: 15px;
               
    }
    
    .responsive {
        
    border: solid;
    border-width: 2px;
    color: rgb(42, 45, 49);  
    border-radius: 15px;  
        
    }

    .anpassung {

        border: solid;
        border-width: 2px;
        color: rgb(238, 236, 236);
        border-radius: 15px;  

    }


    .falsch {

            color: red;


    }
    
    .nichtso {
        border: solid;
        border-width: 2px;
        border-color: rgb(42, 45, 49);
        border-radius: 15px;
    }

    .richtig {



        color: rgb(111, 207, 15);
    }

    .richtigso {


            border: solid;
            border-width: 2px;
            border-color: rgb(42, 45, 49);
            border-radius: 15px;


    }

    .Rechte {
        color: red;
        
    }

    .Linke {
        text-decoration: none;
        color: rgb(111, 207, 15);        

    }


    .Linke:hover  {
        text-decoration:underline;
    }

    li {


        color: black;
        max-width: 500px;
        
    }

    
    fieldset {
                display: flex;
                justify-content: center;
                background-color:rgba(111, 207, 15, 0.575); 
                border-radius: 10px;
    }

    #legend {

        color: black;
        text-align: center;
        
    }

    
.iframe {
        padding-top: 140px;

        display:flex;
        justify-content:center;
   
    }


    #contact {

        display: flex;
        justify-content: center;
           
        
    }

.divneun {

    display: flex;
    justify-content: center;
}




  .submit {


  
    border-radius: 10px;
    color: black;
    
  }


  .wrapper3 {

    display: flex;
    justify-content: flex-end;
  }

  .home {

   display: flex;
   justify-content: center;
   text-decoration: none;
   color: BLACK;
   
  }

  .home:hover {


    color: white;
  }

  .home {

    border: solid;
    
   border-color: black;
   border-radius: 10px;
   border-width: 2px;
   background-color: white;
  }

  .home:hover {

    border: solid;
  
   border-color: black;
   border-radius: 10px;
   border-width: 2px;
  
   background-color: rgb(42, 45, 49);
   


  }

  .submit:hover {


    background-color: white;
  }


  .download-btn {
    border-radius: 8px;
    background-color: rgb(42, 45, 49);
    padding: 7px;
    margin: 5px 0 10px 0;
    color:white;
  }

  .download-btn:hover {
      cursor:hand;
  }

  #link-download {
      color: white;
      text-decoration:none;
  }

  #link-download:hover {
    cursor: hand;
  }
  
  .auftrag {


    color: black;
    padding-top: 80px;
    text-align: center;
    
  }


  .auftragtext {


    color: black;
    text-align: center;
    display:flex;
    justify-content: center;

  }

  .divauftrag {

    display: flex;
    justify-content: center;
    padding-bottom: 150px;


  }

  .anker {

    text-decoration: none;
    color: rgb(111, 207, 15); 
  }

  #keyword-link {
      text-decoration: none;
      color:rgb(111, 207, 15);
  }


.randinfo {
    margin-left: 20px;
    font-size: 12px;
}

#randinfo-titel {
    text-decoration: underline;
}

#link-w3schools {
    color:rgb(111, 207, 15);
    text-decoration: none;
}

#link-w3schools:hover {
    font-size: 20px;
    text-decoration: underline;
}

  @media (max-width:700px)
  {
    .navigation {
        width: 75%;
    }

    footer {
        position:inherit;
    }

    }  
  
  