html  {
    scroll-behavior: smooth;
}

body {

   
    font-family:'Josefin Sans', sans-serif;
    margin: 0;
    
    
    
    
    background: url(img/seo-bild.PNG);
    border-radius: 15px;
   

}

.wrapper {

    background: rgba(255, 255, 255, 0.925);
        
        

}

.wrapper2 {

        display: flex;
        justify-content: flex-end;
       color: white;


}

.naveins {

display: inline;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(42, 45, 49);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 51px;
    border: solid;
    border-color: rgb(111, 207, 15);
    border-width: 1px;
    
    
    
    
}


  


.dropdown:hover .dropdown-content {
    display:inline;
}

.dropdown-content {
    display:none;
}


h3 {

    color: rgb(42, 45, 49);
    font-family: 'Josefin Sans', sans-serif;


}

.img {

    height: 51px;

    width: 101px;
    border-radius: 15px;


}
p {

    color: rgb(42, 45, 49);
    max-width: 500px;
    
}

.main {


   text-align: center;
}

dd {


    color: rgb(42, 45, 49);
    max-width: 500px;
    
}


dt {

    color: rgb(42, 45, 49);
    
}

.diveins {

    display: flex;
    justify-content: center;

}

.divzwei {

    display: flex;
    justify-content: center;


}
.divdrei {

    display: flex;
    justify-content: center;


}
.divvier {

    display: flex;
    justify-content: center;


}
.divfünf {

    display: flex;
    justify-content: center;


}


.divsechs {

    display: flex;
    justify-content: center;

}

.divsieben {

    display: flex;
    justify-content: center;$

}

.warum-seo-list {
    display:flex;
    justify-content: center;
    position: inherit;
}
hr {

    border: solid 1px rgb(157, 162, 167);
    max-width: 1000px;
   
}

footer {

    position: absolute;
    right: 0px;
    left: 0px;
    background-color: rgb(42, 45, 49);
    height: 2.4cm;
    border: solid;
    border-color: rgb(111, 207, 15);
    border-width: 1px;

    

    
}

#fb {

    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
}

#fb:hover {
    
    height: 55px;
    width: 55px;
}

#twitter:hover {

    height: 55px;
    width: 55px;
}

#mailpic {

    
    
    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
    

}


#mailpic:hover {

    height: 55px;
    width: 55px;
}

#twitter {


    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
    

}



/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }


  




  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline;
    left: 0px;
    
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: rgb(42, 45, 49);
                                                        transition: .4s}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: rgb(111, 207, 15);
                            color: rgb(42, 45, 49);
    
                                    transition: .5s;}
  
  

.navigation {

  display: inherit;
  margin-right: 68px;

}

.dropdown-content a:hover {


    color: white;
}

h1 {
    color: rgb(42, 45, 49);

    margin: 0px;
}

.titel {

        border: solid;
        border-width: 2px;
         color: rgb(42, 45, 49);
         border-radius: 15px;
         
}

.verlinkung {

    border: solid;
    border-width: 2px;
    
     color: rgb(42, 45, 49);
     border-radius: 15px;
               
    }
    
    .responsive {
        
    border: solid;
    border-width: 2px;
    color: rgb(42, 45, 49);  
    border-radius: 15px;  
        
    }

    .anpassung {

        border: solid;
        border-width: 2px;
        color: rgb(238, 236, 236);
        border-radius: 15px;  

    }


    .falsch {

            color: red;


    }
    
    .nichtso {
        border: solid;
        border-width: 2px;
        border-color: rgb(42, 45, 49);
        border-radius: 15px;
    }

    .richtig {



        color: rgb(111, 207, 15);
    }

    .richtigso {


            border: solid;
            border-width: 2px;
            border-color: rgb(42, 45, 49);
            border-radius: 15px;


    }

    .Rechte {
        color: red;
        
    }

    .Linke {

        color: rgb(111, 207, 15);        
      

    }

    li {


        color: black;
        max-width: 500px;
        
    }

    .hier {

        text-decoration: none;
        color: rgba(111, 207, 15, 0.575);
      }

    .avalide {

        text-decoration: none;
        color: rgba(111, 207, 15, 0.575);
    }


    .avalide:hover {
        text-decoration:underline;
    }


    
    @media (max-width: 700px) 
    
    {
        .navigation {
            width: 75%;
        }

        .responsive {
            width: 500px;
            height: 320px;
        }
        
        #responsive-1 {
            width: 280px;
            height: 420px;
        }

        .divsieben {
            font-size: 75%;
        }

        .verlinkung {
            width: 500px;
            height: 300px;
        }

        .anpassung {
            width: 480px;
            height: 180px;

        }
        
        h3 {
            font-size:15px;
        }

        h1 {
            font-size: 25px;
        }

        .titel {
            width: 500px;
            height: 180px;
        }

        .richtigso-1 {
            width: 400px;
        }

        .nichtso-1 {
            width: 400px;
        }
        
        .nichtso {
            width: 330px;
        }

        .richtigso {
            width: 350px;
        }

        footer {
            size: 75%;
        }

        footer {
            size: 50%;
        }
        
        .trennlinie {
            width: 85%;
        }

        .richtigso-2 {
            width: 40%;
        }

        .dropdown-content a {
            font-size: 75%;
        }

        .dropbtn {
            font-size: 75%;
        }

        .navigation {
            display:flex;
            justify-content: flex-end;
        }

        .img {
            width: 50px;
            height: 30px;
            display:flex;
            justify-content: center;
        }

        }

