body {

    background-color: white;
    font-family:'Josefin Sans', sans-serif;
    color: rgb(253, 253, 253);
}



.naveins {

display: inline;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: rgb(42, 45, 49);
    left: 0px;
    right: 0px;
    top: 0px;
    height: 51px;
    
    
    
}


nav a {


    text-decoration: none;
    color: white;
    font-family:'Josefin Sans', sans-serif;
    
   
}

h1 {

    color: #91c63c;
  
}

nav li{

    display: inline;
    padding: 19px;
    background: rgb(42, 45, 49);
    
   
   
   
}

 





nav li:hover {


    background-color: rgba(130, 179, 52, 0.856);
    transition: .7s;

}

h3 {

    color: rgb(42, 45, 49);
    font-family: 'Josefin Sans', sans-serif;


}

.img {

    height: 51px;

    width: 101px;


}
p {

    color: rgb(42, 45, 49);
    max-width: 500px;
    
}

.main {


   text-align: center;
}

dd {


    color: rgb(42, 45, 49);
    max-width: 500px;
    
}


dt {

    color: rgb(42, 45, 49);
    
}

.diveins {

    display: flex;
    justify-content: center;

}

.divzwei {

    display: flex;
    justify-content: center;


}
.divdrei {

    display: flex;
    justify-content: center;


}
.divvier {

    display: flex;
    justify-content: center;


}
.divfünf {

    display: flex;
    justify-content: center;


}

hr {

    border: solid 1px rgb(157, 162, 167);
    max-width: 1000px;
   
}

footer {

    position: absolute;
    right: 0px;
    left: 0px;
    background-color: rgb(42, 45, 49);
    height: 2.4cm;
    

    
}

#fb {

    margin-right: 10px;
    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
}

#mailpic {

    
    
    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
    

}

#twitter {


    height: 50px;
    width: 50px;
    margin-top: 0.4cm;
    float: right;
    padding: 8px;
    

}
